header {
    background-color:#ffffff;
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    padding-top: 50;
      }



body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center
}

.cityList{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 40%

}

.landmarkList{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.citizenList{
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;

}



.cityList img {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
      }


.landmarkList img {  
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: space-evenly;
}

.citizenList img {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: space-evenly;
    
}


.cityList img {

    border: 3px solid rgb(255, 255, 255);
}

.landmarkList img {
    border: 3px solid hwb(0 100% 0% / 0.87);
}

.citizenList img {
    border: 3px solid rgb(255, 255, 255);
}

